.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px dotted green;
  padding: 5px;
  width: 900px;
}

.listItem button {
  font-size: 25px;
  border-radius: 10px;
  padding: 5px;
  margin-left: 30px;
  background-color: red;
}

.icon {
  margin-right: 20px;
  display: inline-block;
  align-items: center;
  margin-bottom: 10px;
}
