.authLinks {
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  padding-bottom: 10px;
}

.linkRegister {
  margin-right: 40px;
}

.link:global(.active) {
  color: red;
  text-decoration: underline;
}
