.linkLayout {
  display: flex;
  align-items: center;
  padding: 5px 100px;
  background-color: aqua;
}

.linkLogin {
  justify-content: space-between;
}

.linkNotLogin {
  justify-content: center;
}

.link {
  text-decoration: none;
  padding-bottom: 10px;
}

.link:global(.active) {
  color: red;
  text-decoration: underline;
}
