.contactForm {
  border: 2px solid aqua;
  width: 300px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 20px 0px aqua;
  margin-bottom: 25px;
}

.block {
  display: block;
}

.block label {
  font-size: 15px;
}

.block input {
  margin-top: 10px;
  border: 3px solid grey;
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.block input:hover,
.block input:focus {
  border: 3px solid green;
  outline: none;
}

.block button {
  background-color: aqua;
  font-size: 15px;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid aqua;
}

.block button:hover,
.block button:focus {
  background-color: green;
  border: 1px solid green;
}
